* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#wrapper {
  display: grid;
  justify-content: center;
  margin: 200px;
}


.gridContainer {
  display: grid;
  width: 960px;
  height: 960px;
  border: 1px solid red;
}

.gridSquare {
  border: 1px dashed black;
}

.grdSqrBlk {
  background-color: black;
}
